body{
    margin: 0;
    background: #111111;
}


nav{
    background-color: #1b1b1b;
    display: flex;
    justify-content: flex-end;
}

nav a{
    padding: 0.8em;
    text-decoration: none;
    border: 1px solid #9ef520;
    color: rgb(172 245 37);
    margin: .5em;
}

nav a:hover{
    background-color: white;
    color: black;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 12em;
}
.seleccion{
    width: 45%;
    background-color: #1b1b1b;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #c9c9c9;
}

.seleccion a{
    text-decoration: none;
    width: 100%;
    color: #c9c9c9;
    text-align: center;
}

.seleccion:hover{
    border: 2px solid #9ef520;
    color: #9ef520;
    cursor: pointer;
    transition: ease-in 0.1s;
    width: 60%;
    box-shadow: 0px 18px 23px -12px rgba(158,245,32,0.39);
    -webkit-box-shadow: 0px 18px 23px -12px rgba(158,245,32,0.39);
    -moz-box-shadow: 0px 18px 23px -12px rgba(158,245,32,0.39);
}

.container-categoria{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card-container{
    width: 18%;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    align-items: center;
    margin-bottom: 1em;
    padding:1em;
    color: #c9c9c9;
    border: 1px solid #9ef520 ;
}

.card-container a{
    text-decoration: none;
    border: 2px solid #111111;
    padding: 1em;
    background-color: #9ef520;
    color: #111111;
    font-weight: bolder;
}